<?xml version="1.0" encoding="utf-8"?>
<Media Key="db428759-8a9e-48a9-bac0-dbde61f49c96" Alias="3Ed1a679 E89a 4Bc9 Bc41 E9668b21b72f" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ed1a679E89a4Bc9Bc41E9668b21b72f</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T12:29:06</CreateDate>
    <NodeName Default="3Ed1a679 E89a 4Bc9 Bc41 E9668b21b72f" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0zgbi1px/3ed1a679-e89a-4bc9-bc41-e9668b21b72f.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>