<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ca24fe1-1162-46e1-8a1a-429dbee14674" Alias="Article Images" Level="2">
  <Info>
    <Parent Key="0e2fa136-0195-4713-9b78-878d39a7b4cb">Images</Parent>
    <Path>/Images/ArticleImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T15:57:35</CreateDate>
    <NodeName Default="Article Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>