<?xml version="1.0" encoding="utf-8"?>
<Media Key="af278aae-481a-4e47-b53c-e038616b9f59" Alias="Article-Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticleImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T11:31:38</CreateDate>
    <NodeName Default="Article-Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>