<?xml version="1.0" encoding="utf-8"?>
<Media Key="78b3f3ec-0450-44e5-b9ef-82bfe7842bb3" Alias="calander" Level="3">
  <Info>
    <Parent Key="527decf4-6f4b-41e1-bcdc-90c3e20c8fd9">Icons</Parent>
    <Path>/Images/Icons/calander</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-28T15:20:41</CreateDate>
    <NodeName Default="calander" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d4nfrwdx/calendar-regular-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>