<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ac94e66-8fbc-4875-abf7-90b00a663f68" Alias="chart" Level="3">
  <Info>
    <Parent Key="527decf4-6f4b-41e1-bcdc-90c3e20c8fd9">Icons</Parent>
    <Path>/Images/Icons/chart</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-28T15:21:12</CreateDate>
    <NodeName Default="chart" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sutdf0u1/chart-bar-regular-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>