<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f91917f-67d8-4b1a-8023-428d8e2ea669" Alias="comments" Level="3">
  <Info>
    <Parent Key="527decf4-6f4b-41e1-bcdc-90c3e20c8fd9">Icons</Parent>
    <Path>/Images/Icons/comments</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-28T15:20:56</CreateDate>
    <NodeName Default="comments" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rt2hul55/comment-dots-regular-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>