<?xml version="1.0" encoding="utf-8"?>
<Media Key="68801fc8-ad31-45fb-8c54-0d10ae91cd40" Alias="Ddca9f44 66Ee 44B4 A874 01953Ebc0ba4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ddca9f4466Ee44B4A87401953Ebc0ba4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T12:37:59</CreateDate>
    <NodeName Default="Ddca9f44 66Ee 44B4 A874 01953Ebc0ba4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i5knnxsy/ddca9f44-66ee-44b4-a874-01953ebc0ba4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>