<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b38200e-2a51-4e53-bcbc-9a9c3de8a467" Alias="facebook-svgrepo-com.svg" Level="2">
  <Info>
    <Parent Key="a2a0a540-ae35-4d69-b320-fa951ea64215">Footer-Images</Parent>
    <Path>/FooterImages/facebookSvgrepoComsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T13:14:38</CreateDate>
    <NodeName Default="facebook-svgrepo-com.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5soju0kk/facebook-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>