<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbeea153-c33a-47a0-8f25-097e01814b55" Alias="flag-for-flag-sweden-svgrepo-com.svg" Level="2">
  <Info>
    <Parent Key="ac5e0742-5ff2-43e5-b96b-1f8b0843bb21">Navbar-Images</Parent>
    <Path>/NavbarImages/flagForFlagSwedenSvgrepoComsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:04:25</CreateDate>
    <NodeName Default="flag-for-flag-sweden-svgrepo-com.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ueoeyojb/flag-for-flag-sweden-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>