<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2a0a540-ae35-4d69-b320-fa951ea64215" Alias="Footer-Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FooterImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T11:57:26</CreateDate>
    <NodeName Default="Footer-Images" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>