<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aba83a4-31cb-46c0-a4d1-73f21b8bb7a2" Alias="gym-logo-transparent-background_1195761-17698.jpg" Level="3">
  <Info>
    <Parent Key="b906c3c1-b027-4d42-9047-6c9990c71b9a">Navbar Images</Parent>
    <Path>/Images/NavbarImages/gymLogoTransparentBackground_119576117698jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T16:49:54</CreateDate>
    <NodeName Default="gym-logo-transparent-background_1195761-17698.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fnepzhfc/gym-logo-transparent-background_1195761-17698.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>