<?xml version="1.0" encoding="utf-8"?>
<Media Key="527decf4-6f4b-41e1-bcdc-90c3e20c8fd9" Alias="Icons" Level="2">
  <Info>
    <Parent Key="0e2fa136-0195-4713-9b78-878d39a7b4cb">Images</Parent>
    <Path>/Images/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T15:19:51</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>