<?xml version="1.0" encoding="utf-8"?>
<Media Key="786bcaa6-1951-4f68-b5d7-3507b897699e" Alias="instagram-svgrepo-com.svg" Level="2">
  <Info>
    <Parent Key="a2a0a540-ae35-4d69-b320-fa951ea64215">Footer-Images</Parent>
    <Path>/FooterImages/instagramSvgrepoComsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T13:14:35</CreateDate>
    <NodeName Default="instagram-svgrepo-com.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kr1ntgsk/instagram-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>