<?xml version="1.0" encoding="utf-8"?>
<Media Key="b906c3c1-b027-4d42-9047-6c9990c71b9a" Alias="Navbar Images" Level="2">
  <Info>
    <Parent Key="0e2fa136-0195-4713-9b78-878d39a7b4cb">Images</Parent>
    <Path>/Images/NavbarImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T16:49:46</CreateDate>
    <NodeName Default="Navbar Images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>