<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac5e0742-5ff2-43e5-b96b-1f8b0843bb21" Alias="Navbar-Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NavbarImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T14:04:16</CreateDate>
    <NodeName Default="Navbar-Images" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>