<?xml version="1.0" encoding="utf-8"?>
<Media Key="2be5c729-a56e-4173-87d2-072eab2fda2f" Alias="pexels-tima-miroshnichenko-5327556.jpg" Level="2">
  <Info>
    <Parent Key="af278aae-481a-4e47-b53c-e038616b9f59">Article-Images</Parent>
    <Path>/ArticleImages/pexelsTimaMiroshnichenko5327556jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T11:31:54</CreateDate>
    <NodeName Default="pexels-tima-miroshnichenko-5327556.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uyglhhih/pexels-tima-miroshnichenko-5327556.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>