<?xml version="1.0" encoding="utf-8"?>
<Media Key="86da8ffc-9de0-4725-9a3b-e054b7fa46d0" Alias="Pexels Tima Miroshnichenko 5327556" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsTimaMiroshnichenko5327556</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T12:57:55</CreateDate>
    <NodeName Default="Pexels Tima Miroshnichenko 5327556" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oncjymej/pexels-tima-miroshnichenko-5327556.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>