<?xml version="1.0" encoding="utf-8"?>
<Media Key="0323d4f4-74bb-4367-97d7-bf453d7f7c31" Alias="pexels-tima-miroshnichenko-5327556.jpg" Level="3">
  <Info>
    <Parent Key="1ca24fe1-1162-46e1-8a1a-429dbee14674">Article Images</Parent>
    <Path>/Images/ArticleImages/pexelsTimaMiroshnichenko5327556jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T15:58:06</CreateDate>
    <NodeName Default="pexels-tima-miroshnichenko-5327556.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pmpglnos/pexels-tima-miroshnichenko-5327556.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>