<?xml version="1.0" encoding="utf-8"?>
<Media Key="38e63d10-802e-4c81-a2bb-887198c46efb" Alias="pexels-leonmart-1552249.jpg" Level="2">
  <Info>
    <Parent Key="af278aae-481a-4e47-b53c-e038616b9f59">Article-Images</Parent>
    <Path>/ArticleImages/pexelsLeonmart1552249jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T11:36:14</CreateDate>
    <NodeName Default="pexels-leonmart-1552249.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t51lbdsh/pexels-leonmart-1552249.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>