<?xml version="1.0" encoding="utf-8"?>
<Media Key="6839681d-d9d8-45ea-812f-e4e7348c7822" Alias="twitter-154-svgrepo-com.svg" Level="2">
  <Info>
    <Parent Key="a2a0a540-ae35-4d69-b320-fa951ea64215">Footer-Images</Parent>
    <Path>/FooterImages/twitter154SvgrepoComsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:58:07</CreateDate>
    <NodeName Default="twitter-154-svgrepo-com.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/35kjxcwd/twitter-154-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>