<?xml version="1.0" encoding="utf-8"?>
<Media Key="17536147-7a8d-4397-8be0-ee5584c481ea" Alias="user" Level="3">
  <Info>
    <Parent Key="527decf4-6f4b-41e1-bcdc-90c3e20c8fd9">Icons</Parent>
    <Path>/Images/Icons/user</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-28T15:21:23</CreateDate>
    <NodeName Default="user" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wqelrn3k/user-regular-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>