<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bde7d2b-14a7-4c63-a0a3-db84428b99ff" Alias="Articles" Level="2">
  <Info>
    <Parent Key="482178df-d215-4d93-bfba-1b45ca29642f">Home</Parent>
    <Path>/Home/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2025-10-27T11:19:44</CreateDate>
    <NodeName Default="Articles">
      <Name Culture="en-US">Articles</Name>
      <Name Culture="sv">Artiklar</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="f90e58bd-b556-4147-8fa9-9625bac3d461">ArticleListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value Culture="en-US"><![CDATA[Build strength, confidence, and knowledge — one article at a time.]]></Value>
      <Value Culture="sv"><![CDATA[Bygg din styrka, ditt självförtroende och din kunskap - en artikel i taget]]></Value>
    </customHeadline>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Our Articles]]></Value>
      <Value Culture="sv"><![CDATA[Våra Artiklar]]></Value>
    </pageTitle>
  </Properties>
</Content>