<?xml version="1.0" encoding="utf-8"?>
<Content Key="a834d38a-8ded-4a3d-be00-0987f27a3cdb" Alias="Footer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2025-10-27T18:50:48</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="en-US">Footer</Name>
      <Name Culture="sv">Footer</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copmanyName>
      <Value Culture="en-US"><![CDATA[Workout Program Builder]]></Value>
      <Value Culture="sv"><![CDATA[Workout Program Builder]]></Value>
    </copmanyName>
    <footerItems>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Program Builder",
    "target": null,
    "udi": "umb://document/ac29fb32962e435f865f94db7bab5558",
    "url": null,
    "queryString": null
  },
  {
    "name": "Privacy",
    "target": null,
    "udi": null,
    "url": "/Privacy",
    "queryString": null
  },
  {
    "name": "Policy",
    "target": null,
    "udi": null,
    "url": "/Policy",
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "Program Byggare",
    "target": null,
    "udi": "umb://document/ac29fb32962e435f865f94db7bab5558",
    "url": null,
    "queryString": null
  },
  {
    "name": "Privat",
    "target": null,
    "udi": null,
    "url": "/Privat",
    "queryString": ""
  },
  {
    "name": "Policy",
    "target": null,
    "udi": null,
    "url": "/Policy",
    "queryString": null
  }
]]]></Value>
    </footerItems>
    <programBuilderRights>
      <Value Culture="en-US"><![CDATA[© 2026 Workout Program Builder. All rights reserved.]]></Value>
      <Value Culture="sv"><![CDATA[© 2026 Tränings porgram alla rättigheter.]]></Value>
    </programBuilderRights>
    <socialMediaIcons>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc824582-565c-48c4-90e5-8e497fc4ece2",
      "key": "1266f654-15b7-48fc-a272-f71de5138809",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.instagram.com/"
        },
        {
          "alias": "socialMediaIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "815be13a-992b-4cf9-998f-76ce3de1f98f",
              "mediaKey": "786bcaa6-1951-4f68-b5d7-3507b897699e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bc824582-565c-48c4-90e5-8e497fc4ece2",
      "key": "23762292-77cb-41a7-a4af-497dac7b96f6",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        },
        {
          "alias": "socialMediaIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "42b9e703-8139-44f8-aed8-12564d09643c",
              "mediaKey": "6839681d-d9d8-45ea-812f-e4e7348c7822",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bc824582-565c-48c4-90e5-8e497fc4ece2",
      "key": "ec4c4d35-db0e-4981-8911-0b6dadc7d07a",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4902bfcf-391e-4352-965a-2ae3d745586a",
              "mediaKey": "8b38200e-2a51-4e53-bcbc-9a9c3de8a467",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "socialMediaUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1266f654-15b7-48fc-a272-f71de5138809",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "23762292-77cb-41a7-a4af-497dac7b96f6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec4c4d35-db0e-4981-8911-0b6dadc7d07a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "23762292-77cb-41a7-a4af-497dac7b96f6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1266f654-15b7-48fc-a272-f71de5138809",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec4c4d35-db0e-4981-8911-0b6dadc7d07a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaIcons>
  </Properties>
</Content>