<?xml version="1.0" encoding="utf-8"?>
<Content Key="482178df-d215-4d93-bfba-1b45ca29642f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2025-10-26T17:23:08</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
      <Name Culture="sv">Hem</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="9c1731fb-fc5f-4080-8474-dd1e4d208623">ModularPage</Template>
  </Info>
  <Properties>
    <hideBreadcrumbs>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </hideBreadcrumbs>
    <layout>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "38a64019-cf56-443d-a2c3-dd33c44f0a17",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hero"
        },
        {
          "alias": "sectionBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4f89be3c-7c49-4db8-bd64-f067c511aa5b",
              "mediaKey": "24f88f0d-097a-4f60-8ffd-6d126128de7e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "79e560c5-97f3-42b7-9804-a80759101c8f",
      "key": "54f2f21c-c6f5-46a0-b531-02f36fa67c9b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9f066847-da67-4b14-ae18-7a6cc1778421",
      "key": "9d327389-f85e-438a-bc16-c50c90f302be",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hero Item Text"
        }
      ]
    },
    {
      "contentTypeKey": "a63bbd71-a15d-4edf-969d-8597b4232789",
      "key": "455120b2-fd0d-46d7-b20e-c6700de91416",
      "udi": null,
      "values": [
        {
          "alias": "buttonLinkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Build Your Program"
        },
        {
          "alias": "buttonLinkUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/ac29fb32962e435f865f94db7bab5558"
        },
        {
          "alias": "buttonVariant",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "primary"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e8654194-fb56-4994-be6b-f5c995862e9e",
      "key": "3fb9ba18-daa5-44af-a092-7658af9ae175",
      "udi": null,
      "values": [
        {
          "alias": "paragraphContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi cupiditate eaque earum eius eligendi enim esse ex hic iure mollitia."
        }
      ]
    },
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "cff0b724-c427-487c-a64e-35ae70e21dec",
      "udi": null,
      "values": [
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6"
        },
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Work Out Articles"
        },
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FAFAFA"
          }
        },
        {
          "alias": "sectionSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Latest Information"
        }
      ]
    },
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "fee9f8d9-6521-4430-987e-9adc96ac5794",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Why Use WorkoutProgramBuilder For Work Out"
        },
        {
          "alias": "sectionSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How it works"
        },
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#E7ECEF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "d15180f2-e8a4-40d1-9708-930d554d2688",
      "udi": null,
      "values": [
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f9ce9473-1425-462d-b8d6-05ec9f71ff91",
              "mediaKey": "17536147-7a8d-4397-8be0-ee5584c481ea",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Expert Guidance And Personalized"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Your specific goals and needs, such as weight loss, strength gain, or general fitness."
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "e0964f8e-1d14-4137-b6f5-f8f804b8dd35",
      "udi": null,
      "values": [
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Atmosphere and Community"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Inclusive atmosphere makes every member feel welcome and encouraged to grow."
        },
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e5951e60-23e2-4bf1-bee6-89093d9613db",
              "mediaKey": "8f91917f-67d8-4b1a-8023-428d8e2ea669",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "afeccc23-bbfa-4fa2-86d9-29587af2ea66",
      "udi": null,
      "values": [
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Self-guidance is guided"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Proper training techniques to prevent injury and ensure your workouts are effective."
        },
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a2bfc3ef-d1ba-443a-abe4-ff6e1d7b54f8",
              "mediaKey": "4ac94e66-8fbc-4875-abf7-90b00a663f68",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "86b2b5ca-d58d-40bb-b900-dbf05a508760",
      "udi": null,
      "values": [
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexible And Accessibility"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Track your goals anywhere and anytime"
        },
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "345156dd-64b0-4e47-956a-dba80bdb8dec",
              "mediaKey": "78b3f3ec-0450-44e5-b9ef-82bfe7842bb3",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "38a64019-cf56-443d-a2c3-dd33c44f0a17",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "54f2f21c-c6f5-46a0-b531-02f36fa67c9b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d327389-f85e-438a-bc16-c50c90f302be",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "455120b2-fd0d-46d7-b20e-c6700de91416",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3fb9ba18-daa5-44af-a092-7658af9ae175",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cff0b724-c427-487c-a64e-35ae70e21dec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fee9f8d9-6521-4430-987e-9adc96ac5794",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d15180f2-e8a4-40d1-9708-930d554d2688",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e0964f8e-1d14-4137-b6f5-f8f804b8dd35",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "afeccc23-bbfa-4fa2-86d9-29587af2ea66",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "86b2b5ca-d58d-40bb-b900-dbf05a508760",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "9d327389-f85e-438a-bc16-c50c90f302be",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "3fb9ba18-daa5-44af-a092-7658af9ae175",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "455120b2-fd0d-46d7-b20e-c6700de91416",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "e31de98d-14e0-4269-a353-e6bfbedf63cc"
                  }
                ],
                "columnSpan": 6,
                "contentKey": "54f2f21c-c6f5-46a0-b531-02f36fa67c9b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "38a64019-cf56-443d-a2c3-dd33c44f0a17",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "d15180f2-e8a4-40d1-9708-930d554d2688",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "86b2b5ca-d58d-40bb-b900-dbf05a508760",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "e0964f8e-1d14-4137-b6f5-f8f804b8dd35",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "afeccc23-bbfa-4fa2-86d9-29587af2ea66",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fee9f8d9-6521-4430-987e-9adc96ac5794",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cff0b724-c427-487c-a64e-35ae70e21dec",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "baa64b6a-bc79-4adb-adec-7d87913edfea",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "hero"
        },
        {
          "alias": "sectionBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "36cb4636-dce6-46bc-bcbc-f6a4f9bb55a6",
              "mediaKey": "24f88f0d-097a-4f60-8ffd-6d126128de7e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "79e560c5-97f3-42b7-9804-a80759101c8f",
      "key": "7f24a1e1-22ab-4d90-96be-c2b55f9a49a5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9f066847-da67-4b14-ae18-7a6cc1778421",
      "key": "c9d26f60-f409-4cde-aace-0495ca35cf18",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hero Item Text SV"
        }
      ]
    },
    {
      "contentTypeKey": "e8654194-fb56-4994-be6b-f5c995862e9e",
      "key": "2f1a6152-3ad5-485d-9802-5f34c3000014",
      "udi": null,
      "values": [
        {
          "alias": "paragraphContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi cupiditate eaque earum eius eligendi enim esse ex hic iure mollitia."
        }
      ]
    },
    {
      "contentTypeKey": "a63bbd71-a15d-4edf-969d-8597b4232789",
      "key": "0224e265-7187-4c17-88c3-6cd1b224b414",
      "udi": null,
      "values": [
        {
          "alias": "buttonLinkText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bygg Ditt Program"
        },
        {
          "alias": "buttonLinkUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/ac29fb32962e435f865f94db7bab5558"
        },
        {
          "alias": "buttonVariant",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "primary"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "b5b22975-6d1a-48d8-bd8f-fbeb2a43f974",
      "udi": null,
      "values": [
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#E7ECEF"
          }
        },
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Varf\u00F6r anv\u00E4nda WorkoutProgramBuilder f\u00F6r tr\u00E4ning"
        },
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "sectionSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hur det funkar"
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "fbdd9b81-7886-45fe-a08f-3572b6ffc719",
      "udi": null,
      "values": [
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dina specifika m\u00E5l och behov, s\u00E5som viktminskning, styrke\u00F6kning eller allm\u00E4n kondition."
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Expertv\u00E4gledning och personligt anpassad"
        },
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "49b5244f-f49a-49f7-a5fb-6c6aaddda6b2",
              "mediaKey": "17536147-7a8d-4397-8be0-ee5584c481ea",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "42cfd423-4143-45b5-a1ea-7158d073995d",
      "udi": null,
      "values": [
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "30a298ce-dd2d-487d-a4e8-33ec0b9458a3",
              "mediaKey": "78b3f3ec-0450-44e5-b9ef-82bfe7842bb3",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexibel och tillg\u00E4nglig"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sp\u00E5ra dina m\u00E5l var som helst och n\u00E4r som helst"
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "04186a38-6486-43bb-af95-c588da51c2ab",
      "udi": null,
      "values": [
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "44fb6cad-5b25-4d6f-bf35-2d84d09bd490",
              "mediaKey": "8f91917f-67d8-4b1a-8023-428d8e2ea669",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Atmosf\u00E4r och gemenskap"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En inkluderande atmosf\u00E4r g\u00F6r att varje medlem k\u00E4nner sig v\u00E4lkommen och uppmuntras att utvecklas."
        }
      ]
    },
    {
      "contentTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "key": "cb1707ef-ce2b-4c40-a3dd-f5446bc232b7",
      "udi": null,
      "values": [
        {
          "alias": "cardIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c4da113-9a29-420c-8fb4-21c413572a5b",
              "mediaKey": "4ac94e66-8fbc-4875-abf7-90b00a663f68",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sj\u00E4lvstyrning \u00E4r v\u00E4gledd"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "R\u00E4tt tr\u00E4ningsteknik f\u00F6r att f\u00F6rebygga skador och s\u00E4kerst\u00E4lla att dina tr\u00E4ningspass \u00E4r effektiva."
        }
      ]
    },
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "185ca9b5-68a2-4d00-83a3-02efe0a7f450",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tr\u00E4ningsartiklar"
        },
        {
          "alias": "sectionSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Senaste informationen"
        },
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FAFAFA"
          }
        },
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "baa64b6a-bc79-4adb-adec-7d87913edfea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f24a1e1-22ab-4d90-96be-c2b55f9a49a5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c9d26f60-f409-4cde-aace-0495ca35cf18",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2f1a6152-3ad5-485d-9802-5f34c3000014",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0224e265-7187-4c17-88c3-6cd1b224b414",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b5b22975-6d1a-48d8-bd8f-fbeb2a43f974",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fbdd9b81-7886-45fe-a08f-3572b6ffc719",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42cfd423-4143-45b5-a1ea-7158d073995d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04186a38-6486-43bb-af95-c588da51c2ab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb1707ef-ce2b-4c40-a3dd-f5446bc232b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "185ca9b5-68a2-4d00-83a3-02efe0a7f450",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "c9d26f60-f409-4cde-aace-0495ca35cf18",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "2f1a6152-3ad5-485d-9802-5f34c3000014",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "0224e265-7187-4c17-88c3-6cd1b224b414",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "e31de98d-14e0-4269-a353-e6bfbedf63cc"
                  }
                ],
                "columnSpan": 6,
                "contentKey": "7f24a1e1-22ab-4d90-96be-c2b55f9a49a5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "baa64b6a-bc79-4adb-adec-7d87913edfea",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "fbdd9b81-7886-45fe-a08f-3572b6ffc719",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "42cfd423-4143-45b5-a1ea-7158d073995d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "04186a38-6486-43bb-af95-c588da51c2ab",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [],
                    "key": "5b906d32-2e69-436a-a723-210bcf568f87"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "cb1707ef-ce2b-4c40-a3dd-f5446bc232b7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b5b22975-6d1a-48d8-bd8f-fbeb2a43f974",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "185ca9b5-68a2-4d00-83a3-02efe0a7f450",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </layout>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Home page]]></Value>
      <Value Culture="sv"><![CDATA[Hem sida]]></Value>
    </metaDescription>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Home]]></Value>
      <Value Culture="sv"><![CDATA[Hem]]></Value>
    </pageTitle>
  </Properties>
</Content>