<?xml version="1.0" encoding="utf-8"?>
<Content Key="51e396d7-4b7d-40db-83a4-1b2dee0af81a" Alias="Login" Level="2">
  <Info>
    <Parent Key="482178df-d215-4d93-bfba-1b45ca29642f">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2025-10-29T00:51:32</CreateDate>
    <NodeName Default="Login">
      <Name Culture="en-US">Login</Name>
      <Name Culture="sv">Logga in</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="668238c1-2bda-48eb-ba70-0d914c6ddd8c">LoginPage</Template>
  </Info>
  <Properties>
    <loginForm>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ac31d3b-b4f4-4ae5-a893-e268be4d99e5",
      "key": "e87a1b5f-9edf-4b0e-9dc0-404fd92aab08",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "emaillogin"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter your email address"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You must enter your email address"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^[a-zA-Z0-9._%\u002B-]\u002B@[a-zA-Z0-9.-]\u002B\\.[a-zA-Z]{2,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "key": "840adc88-658c-4670-907a-9a2a5bef07fe",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "password"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Password"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter your password"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You must enter your password"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^.{6,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "key": "a6b4eae3-dbaa-41ec-b5d1-2da3852e1799",
      "udi": null,
      "values": [
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Login"
        },
        {
          "alias": "buttonType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "submit"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e87a1b5f-9edf-4b0e-9dc0-404fd92aab08",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "840adc88-658c-4670-907a-9a2a5bef07fe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a6b4eae3-dbaa-41ec-b5d1-2da3852e1799",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e87a1b5f-9edf-4b0e-9dc0-404fd92aab08",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "840adc88-658c-4670-907a-9a2a5bef07fe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a6b4eae3-dbaa-41ec-b5d1-2da3852e1799",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ac31d3b-b4f4-4ae5-a893-e268be4d99e5",
      "key": "2f0e3cd3-1564-44cc-bda1-912e307875bb",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "emailloggain"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skriv din email-adress"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Du m\u00E5ste skriva en email-adress"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^[a-zA-Z0-9._%\u002B-]\u002B@[a-zA-Z0-9.-]\u002B\\.[a-zA-Z]{2,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "key": "51729c48-32fe-458f-becb-4821d05966bb",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "l\u00F6senord"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "L\u00F6senord"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skriv ditt l\u00F6senord"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Du m\u00E5ste skriva ditt l\u00F6senord"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^.{6,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "key": "d1cb079a-9850-4dfe-888f-1e7d003c415e",
      "udi": null,
      "values": [
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Logga in"
        },
        {
          "alias": "buttonType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "submit"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2f0e3cd3-1564-44cc-bda1-912e307875bb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "51729c48-32fe-458f-becb-4821d05966bb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1cb079a-9850-4dfe-888f-1e7d003c415e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2f0e3cd3-1564-44cc-bda1-912e307875bb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "51729c48-32fe-458f-becb-4821d05966bb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d1cb079a-9850-4dfe-888f-1e7d003c415e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </loginForm>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Login]]></Value>
      <Value Culture="sv"><![CDATA[Logga in]]></Value>
    </pageTitle>
  </Properties>
</Content>