<?xml version="1.0" encoding="utf-8"?>
<Content Key="18bd2b15-b5df-476d-bca4-58c848eb9e06" Alias="My Workouts" Level="3">
  <Info>
    <Parent Key="ac29fb32-962e-435f-865f-94db7bab5558">Workouts</Parent>
    <Path>/Home/Workouts/MyWorkouts</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2025-11-04T11:00:37</CreateDate>
    <NodeName Default="My Workouts">
      <Name Culture="en-US">My Workouts</Name>
      <Name Culture="sv">Mina träningspass</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="6862ab9f-fbc1-4d3b-af4f-e3c4dd521e1f">myWorkoutsPage</Template>
  </Info>
  <Properties>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <hideBreadcrumbs>
      <Value Culture="en-US"><![CDATA[1]]></Value>
      <Value Culture="sv"><![CDATA[1]]></Value>
    </hideBreadcrumbs>
    <layout>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "d643e8bf-8630-41fc-aa28-776c33ab506f",
      "udi": null,
      "values": [
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d643e8bf-8630-41fc-aa28-776c33ab506f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d643e8bf-8630-41fc-aa28-776c33ab506f",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "b5af7a87-d460-4703-b768-86ca5819e9fa",
      "udi": null,
      "values": [
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b5af7a87-d460-4703-b768-86ca5819e9fa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b5af7a87-d460-4703-b768-86ca5819e9fa",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </layout>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[My Workouts]]></Value>
      <Value Culture="sv"><![CDATA[Mina träningspass]]></Value>
    </pageTitle>
  </Properties>
</Content>