<?xml version="1.0" encoding="utf-8"?>
<Content Key="811bc90d-6f8a-465d-98a4-49cfbaf79273" Alias="Navbar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Navbar</Path>
    <Trashed>false</Trashed>
    <ContentType>navbar</ContentType>
    <CreateDate>2025-10-27T16:50:22</CreateDate>
    <NodeName Default="Navbar">
      <Name Culture="en-US">Navbar</Name>
      <Name Culture="sv">Navigation</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <languageSelector>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bc824582-565c-48c4-90e5-8e497fc4ece2",
      "key": "ed5ba010-ec4c-421e-adff-a9c61613d154",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/sv"
        },
        {
          "alias": "socialMediaIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "43fde6b9-547e-4298-83ac-5c21e23b940f",
              "mediaKey": "dbeea153-c33a-47a0-8f25-097e01814b55",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "bc824582-565c-48c4-90e5-8e497fc4ece2",
      "key": "d1c0afe1-7f1f-496c-a72a-fd59738639d0",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "socialMediaIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6a16dbe8-d2f5-4464-8980-9ab1adf7caf3",
              "mediaKey": "432b6a62-df8d-42a6-ba13-0bafc2bc0404",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ed5ba010-ec4c-421e-adff-a9c61613d154",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1c0afe1-7f1f-496c-a72a-fd59738639d0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ed5ba010-ec4c-421e-adff-a9c61613d154",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d1c0afe1-7f1f-496c-a72a-fd59738639d0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </languageSelector>
    <navbarLogin>
      <Value Culture="en-US"><![CDATA[Login]]></Value>
      <Value Culture="sv"><![CDATA[Logga in]]></Value>
    </navbarLogin>
    <navbarLogo>
      <Value><![CDATA[[
  {
    "key": "857d3d07-9315-416b-9edc-d9d6096eb86f",
    "mediaKey": "2aba83a4-31cb-46c0-a4d1-73f21b8bb7a2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </navbarLogo>
    <navbarMenuItems>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Home",
    "target": null,
    "udi": "umb://document/482178dfd2154d93bfba1b45ca29642f",
    "url": null,
    "queryString": null
  },
  {
    "name": "Program Builder",
    "target": null,
    "udi": "umb://document/ac29fb32962e435f865f94db7bab5558",
    "url": null,
    "queryString": null
  },
  {
    "name": "Articles",
    "target": null,
    "udi": "umb://document/0bde7d2b14a74c63a0a3db84428b99ff",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "Hem",
    "target": null,
    "udi": "umb://document/482178dfd2154d93bfba1b45ca29642f",
    "url": null,
    "queryString": null
  },
  {
    "name": "Program byggaree",
    "target": null,
    "udi": "umb://document/ac29fb32962e435f865f94db7bab5558",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </navbarMenuItems>
    <searchPlaceHolder>
      <Value Culture="en-US"><![CDATA[Search...]]></Value>
      <Value Culture="sv"><![CDATA[Sök...]]></Value>
    </searchPlaceHolder>
  </Properties>
</Content>