<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b2fbb50-df38-406a-a785-57c9fc1b1a83" Alias="Search" Level="2">
  <Info>
    <Parent Key="482178df-d215-4d93-bfba-1b45ca29642f">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2025-10-28T12:14:42</CreateDate>
    <NodeName Default="Search">
      <Name Culture="en-US">Search</Name>
      <Name Culture="sv">Sök</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ac1e6151-2416-4f27-bc42-d89b6bf0d1fd">SearchPage</Template>
  </Info>
  <Properties>
    <emptySearchText>
      <Value Culture="en-US"><![CDATA[Please Enter a search.]]></Value>
      <Value Culture="sv"><![CDATA[Var snäll skriv in något.]]></Value>
    </emptySearchText>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Search Page]]></Value>
      <Value Culture="sv"><![CDATA[Sök sida]]></Value>
    </metaDescription>
    <nextButtonText>
      <Value Culture="en-US"><![CDATA[Next]]></Value>
      <Value Culture="sv"><![CDATA[Nästa]]></Value>
    </nextButtonText>
    <noResults>
      <Value Culture="en-US"><![CDATA[No Results found]]></Value>
      <Value Culture="sv"><![CDATA[Inga Resultat hittades]]></Value>
    </noResults>
    <previousButtonText>
      <Value Culture="en-US"><![CDATA[Previous]]></Value>
      <Value Culture="sv"><![CDATA[Förgående]]></Value>
    </previousButtonText>
    <searchResults>
      <Value Culture="en-US"><![CDATA[Search Results for]]></Value>
      <Value Culture="sv"><![CDATA[Sök Resultat för]]></Value>
    </searchResults>
  </Properties>
</Content>