<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe84273b-2be5-4bee-96a1-29ae53169d04" Alias="SignUp" Level="2">
  <Info>
    <Parent Key="482178df-d215-4d93-bfba-1b45ca29642f">Home</Parent>
    <Path>/Home/SignUp</Path>
    <Trashed>false</Trashed>
    <ContentType>signUpPage</ContentType>
    <CreateDate>2025-10-27T23:36:48</CreateDate>
    <NodeName Default="SignUp">
      <Name Culture="en-US">SignUp</Name>
      <Name Culture="sv">SignUp</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="f631fa31-eb73-4aef-843f-e05c8d61e7e7">SignUpPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Sign Up]]></Value>
      <Value Culture="sv"><![CDATA[Registrera dig]]></Value>
    </pageTitle>
    <signUpForm>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ac31d3b-b4f4-4ae5-a893-e268be4d99e5",
      "key": "ee718cd7-a09e-4f01-866d-f359b48a2255",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "emailsignup"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter your email address"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You must enter your email address"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^[a-zA-Z0-9._%\u002B-]\u002B@[a-zA-Z0-9.-]\u002B\\.[a-zA-Z]{2,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "key": "e3bdbf46-60ad-4f56-ba38-c39ed3c8ac0f",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "createPassword"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Create Password"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter your password"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You must enter your password"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^.{6,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "key": "db7139cc-978d-430c-b8d3-1334b64994b4",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "confirmPassword"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Confirm Password"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enter your password"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Your password does not match"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^.{6,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "key": "94fa9763-bfb4-4758-b456-a02e0270f1fa",
      "udi": null,
      "values": [
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Register"
        },
        {
          "alias": "buttonType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "submit"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "key": "5b44d65e-5109-4c5a-8ac6-199e8c9fb031",
      "udi": null,
      "values": [
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cancel"
        },
        {
          "alias": "buttonType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "reset"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ee718cd7-a09e-4f01-866d-f359b48a2255",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e3bdbf46-60ad-4f56-ba38-c39ed3c8ac0f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db7139cc-978d-430c-b8d3-1334b64994b4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "94fa9763-bfb4-4758-b456-a02e0270f1fa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b44d65e-5109-4c5a-8ac6-199e8c9fb031",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ee718cd7-a09e-4f01-866d-f359b48a2255",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e3bdbf46-60ad-4f56-ba38-c39ed3c8ac0f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "db7139cc-978d-430c-b8d3-1334b64994b4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "94fa9763-bfb4-4758-b456-a02e0270f1fa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5b44d65e-5109-4c5a-8ac6-199e8c9fb031",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ac31d3b-b4f4-4ae5-a893-e268be4d99e5",
      "key": "5ed549d1-c1aa-4fa7-a523-675c4dccda76",
      "udi": null,
      "values": [
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^[a-zA-Z0-9._%\u002B-]\u002B@[a-zA-Z0-9.-]\u002B\\.[a-zA-Z]{2,}$"
        },
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "emailregistrera"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skriv in din email-adress"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Du m\u00E5ste skriva en email-adress"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "key": "0022eb66-dbd4-4879-a34f-95afe25d3fb2",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "skapal\u00F6senord"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skapa l\u00F6senord"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skriv ditt l\u00F6senord"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Du m\u00E5ste skriva ett l\u00F6senord"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^.{6,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "key": "09835c5d-00b3-4c47-a425-66665b133eaa",
      "udi": null,
      "values": [
        {
          "alias": "uniqueName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "bekr\u00E4ftal\u00F6senord"
        },
        {
          "alias": "labelText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bekr\u00E4fta l\u00F6senord"
        },
        {
          "alias": "placeholderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skriv ditt l\u00F6senord"
        },
        {
          "alias": "errorMessage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ditt l\u00F6senord matchar inte"
        },
        {
          "alias": "regularExpressionPattern",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "^.{6,}$"
        },
        {
          "alias": "isRequired",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "useRegularExpression",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "key": "017462ec-908a-407d-9a2e-5443d1e208f6",
      "udi": null,
      "values": [
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Registrera"
        },
        {
          "alias": "buttonType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "submit"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "key": "1e674ef4-7f3f-4396-a2c6-3a1b307fa46e",
      "udi": null,
      "values": [
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Avbryt"
        },
        {
          "alias": "buttonType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "reset"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5ed549d1-c1aa-4fa7-a523-675c4dccda76",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0022eb66-dbd4-4879-a34f-95afe25d3fb2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "09835c5d-00b3-4c47-a425-66665b133eaa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "017462ec-908a-407d-9a2e-5443d1e208f6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1e674ef4-7f3f-4396-a2c6-3a1b307fa46e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5ed549d1-c1aa-4fa7-a523-675c4dccda76",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0022eb66-dbd4-4879-a34f-95afe25d3fb2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "09835c5d-00b3-4c47-a425-66665b133eaa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "017462ec-908a-407d-9a2e-5443d1e208f6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1e674ef4-7f3f-4396-a2c6-3a1b307fa46e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </signUpForm>
  </Properties>
</Content>