<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac29fb32-962e-435f-865f-94db7bab5558" Alias="Workouts" Level="2">
  <Info>
    <Parent Key="482178df-d215-4d93-bfba-1b45ca29642f">Home</Parent>
    <Path>/Home/Workouts</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2025-10-26T17:49:59</CreateDate>
    <NodeName Default="Workouts">
      <Name Culture="en-US">Workouts</Name>
      <Name Culture="sv">Träningspass</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="294ee3b5-abb8-4934-8b9d-d792db778d0f">workoutPage</Template>
  </Info>
  <Properties>
    <excludeFromSitemap>
      <Value><![CDATA[]]></Value>
    </excludeFromSitemap>
    <hideBreadcrumbs>
      <Value Culture="en-US"><![CDATA[1]]></Value>
      <Value Culture="sv"><![CDATA[1]]></Value>
    </hideBreadcrumbs>
    <layout>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "d757b778-381b-4cd7-91c0-4d32b6639ba0",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "sectionSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F7F7F8"
          }
        },
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d757b778-381b-4cd7-91c0-4d32b6639ba0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d757b778-381b-4cd7-91c0-4d32b6639ba0",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "d75ae33e-ab75-4ad8-b1da-4501292ecd1e",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Muskelgrupps Visualisering"
        },
        {
          "alias": "sectionSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "V\u00E4lj muskelgrupper f\u00F6r att se vilka muskler du kommer att tr\u00E4na"
        },
        {
          "alias": "sectionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FAFAFA"
          }
        },
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d75ae33e-ab75-4ad8-b1da-4501292ecd1e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d75ae33e-ab75-4ad8-b1da-4501292ecd1e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </layout>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Workouts]]></Value>
      <Value Culture="sv"><![CDATA[Träningspass]]></Value>
    </pageTitle>
  </Properties>
</Content>