<?xml version="1.0" encoding="utf-8"?>
<Content Key="b790da5b-ce60-4e49-97b7-66ee423f8c85" Alias="Workout-Generator" Level="3">
  <Info>
    <Parent Key="ac29fb32-962e-435f-865f-94db7bab5558">Workouts</Parent>
    <Path>/Home/Workouts/WorkoutGenerator</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2025-11-04T10:56:03</CreateDate>
    <NodeName Default="Workout-Generator">
      <Name Culture="en-US">Workout-Generator</Name>
      <Name Culture="sv">Tränings-Generator</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="67ee90ca-4a77-4a34-98dd-f9b6216f7768">workoutGeneratorPage</Template>
  </Info>
  <Properties>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <hideBreadcrumbs>
      <Value Culture="en-US"><![CDATA[1]]></Value>
      <Value Culture="sv"><![CDATA[1]]></Value>
    </hideBreadcrumbs>
    <layout>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "839500c5-8e73-479e-b0df-1ba79b6b1df8",
      "udi": null,
      "values": [
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "839500c5-8e73-479e-b0df-1ba79b6b1df8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "839500c5-8e73-479e-b0df-1ba79b6b1df8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "key": "a9f3ab6b-e48d-4240-99cb-f2426c78036e",
      "udi": null,
      "values": [
        {
          "alias": "maxArticles",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a9f3ab6b-e48d-4240-99cb-f2426c78036e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a9f3ab6b-e48d-4240-99cb-f2426c78036e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </layout>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value Culture="en-US"><![CDATA[Workout Generator]]></Value>
      <Value Culture="sv"><![CDATA[Tränings Generator]]></Value>
    </pageTitle>
  </Properties>
</Content>