<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fa9d432-1a4d-4a2e-96a7-e70922ba6cf7" Alias="Article Detail - Article Detail Excerpt - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Article Detail - Article Detail Excerpt - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>