<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e2bc595-cca1-4dae-aa2a-5d786d2e6443" Alias="Article Card - articlePicker - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Article Card - articlePicker - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "914b52f3-c61f-4995-b077-aadf5afacde1",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>