<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6f8b293-fd56-424b-ac03-50220271da8f" Alias="Custom - Image and Link" Level="1">
  <Info>
    <Name>Custom - Image and Link</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bc824582-565c-48c4-90e5-8e497fc4ece2"
    }
  ]
}]]></Config>
</DataType>