<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f04a83c8-962c-409d-be62-19be78286dd4" Alias="Error Page - MetaDescription - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Error Page - MetaDescription - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>