<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e51b2a9-9e00-40e9-9f07-739a2c81e797" Alias="Login Page - Login Form - Block List" Level="1">
  <Info>
    <Name>Login Page - Login Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2ac31d3b-b4f4-4ae5-a893-e268be4d99e5",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "0656afe8-76c3-4fa2-bd56-693d334871c4",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "82105c93-ab99-4d28-9935-f2a156e58b5b",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>