<?xml version="1.0" encoding="utf-8"?>
<DataType Key="caa9fa41-6530-4405-b0c8-b748427c17ce" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Containers",
      "key": "682d6f8e-6dc0-407c-ab34-a985d576f13c"
    },
    {
      "name": "Content",
      "key": "ca3403c5-a80e-499e-8e5c-fb67d06020eb"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "f27df69b-7248-44ce-a073-734e4a0262a9",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "682d6f8e-6dc0-407c-ab34-a985d576f13c",
      "label": "section - **{=sectionTitle}**",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "d4c3c34d-3a54-49a3-96aa-65c7b276c2d1",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 12,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "79e560c5-97f3-42b7-9804-a80759101c8f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "682d6f8e-6dc0-407c-ab34-a985d576f13c",
      "label": "dynamic container",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "e31de98d-14e0-4269-a353-e6bfbedf63cc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 12,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7b34b594-3669-4e64-983f-fd35353ec878",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "682d6f8e-6dc0-407c-ab34-a985d576f13c",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "fdccbb2e-0c14-4318-b1a9-6bfc3204230f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 12,
          "specifiedAllowance": []
        }
      ],
      "label": "container"
    },
    {
      "contentElementTypeKey": "9f066847-da67-4b14-ae18-7a6cc1778421",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "headline 1"
    },
    {
      "contentElementTypeKey": "f47ee365-4f88-475e-bcb9-503d923ddb71",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "headline 2"
    },
    {
      "contentElementTypeKey": "fb45f0fb-440e-4d1f-a642-3b86afc22f64",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "headline 3"
    },
    {
      "contentElementTypeKey": "1a5767e0-48cd-46e3-ab89-001f2df1e153",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "headline 4"
    },
    {
      "contentElementTypeKey": "da01e3a5-ec7b-4a30-800f-eb39982481a2",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "headline 5"
    },
    {
      "contentElementTypeKey": "4dedc6c1-f5d4-460d-aad8-b6e88bab4078",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "headline 6"
    },
    {
      "contentElementTypeKey": "51bd120c-ccb2-449f-94fd-3e6a7fccff90",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "image"
    },
    {
      "contentElementTypeKey": "eba01174-e64b-4a9b-93b6-614dc0186a2f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "link"
    },
    {
      "contentElementTypeKey": "a63bbd71-a15d-4edf-969d-8597b4232789",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "button link"
    },
    {
      "contentElementTypeKey": "e8654194-fb56-4994-be6b-f5c995862e9e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "paragraph"
    },
    {
      "contentElementTypeKey": "1b1280ba-b7a8-4b42-8534-c657118220d9",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "rich text"
    },
    {
      "contentElementTypeKey": "7dd8b260-8c94-4ed1-91f5-96343903ee9e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "quotation"
    },
    {
      "contentElementTypeKey": "aaf0df00-1a93-461b-bd49-7cef7defc644",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ca3403c5-a80e-499e-8e5c-fb67d06020eb",
      "label": "card",
      "areas": [
        {
          "key": "5b906d32-2e69-436a-a723-210bcf568f87",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": 12,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>