<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0aa9d507-8431-4282-9107-f8312b2158d5" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-layout-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>For listing article items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f90e58bd-b556-4147-8fa9-9625bac3d461">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="914b52f3-c61f-4995-b077-aadf5afacde1" SortOrder="0">articleItemTemplate</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>eab6a496-44c6-4004-b1f6-c2302f9c1bd0</Key>
      <Name>Custom Headline</Name>
      <Alias>customHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09a0109b-b890-44b8-8441-2063f1fe92fb</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>62bd81f9-5a8c-4d88-9299-0f8acb1d2370</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>