<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2aacb3fe-b686-4f3d-ab37-f281c308ec90" Alias="errorPage" Level="2">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-application-error</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bdc8db8b-7438-4812-83b0-0f17991f7d77">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>912d9cf7-67b6-46c7-90f1-d0155c89e04a</Key>
      <Name>MetaDescription</Name>
      <Alias>metaDescription</Alias>
      <Definition>f04a83c8-962c-409d-be62-19be78286dd4</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d3c0e948-a9b1-4148-8a9f-4d53e1863dd7</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>