<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d63565c6-cdae-4cd2-843b-63078c0701ae" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-layout-panel-left</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7212cf47-0f7b-4b04-a098-b9dd4921e857">base</Composition>
    </Compositions>
    <DefaultTemplate>ModularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9c1731fb-fc5f-4080-8474-dd1e4d208623">ModularPage</Template>
      <Template Key="6862ab9f-fbc1-4d3b-af4f-e3c4dd521e1f">myWorkoutsPage</Template>
      <Template Key="67ee90ca-4a77-4a34-98dd-f9b6216f7768">workoutGeneratorPage</Template>
      <Template Key="294ee3b5-abb8-4934-8b9d-d792db778d0f">workoutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d63565c6-cdae-4cd2-843b-63078c0701ae" SortOrder="0">modularPage</ContentType>
    <ContentType Key="0aa9d507-8431-4282-9107-f8312b2158d5" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="d9fb7629-ad66-4bb4-a1ef-12d2b7ab4eeb" SortOrder="2">signUpPage</ContentType>
    <ContentType Key="bed41632-0985-48ac-8d5e-27e641725353" SortOrder="3">searchPage</ContentType>
    <ContentType Key="3afab683-0e4f-4f8f-827d-f9949ecf07eb" SortOrder="4">loginPage</ContentType>
    <ContentType Key="2aacb3fe-b686-4f3d-ab37-f281c308ec90" SortOrder="5">errorPage</ContentType>
    <ContentType Key="d52d976f-f8b0-44bb-b5bf-f896d1de6cda" SortOrder="6">exercisePage</ContentType>
    <ContentType Key="7b75fb9e-06c9-4c4d-b361-a81a1e9fd732" SortOrder="7">favorites</ContentType>
    <ContentType Key="8016150d-7109-45db-8955-c13ac48b2439" SortOrder="8">cookiePolicyPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d86de244-4d5c-40c3-b3c5-f3d3561d36c0</Key>
      <Name>Hide Breadcrumbs</Name>
      <Alias>hideBreadcrumbs</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box to hide Breadcrumbs on this site]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/hideBreadcrumbs">Hide Breadcrumbs</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3374582-6ec3-4e43-b80a-b7735672f8ab</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>caa9fa41-6530-4405-b0c8-b748427c17ce</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6ead1a8-8de7-4944-bfb0-c3c6267c0a0e</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ef8a422-0745-4f6d-9564-1534083b18aa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>81c0d23c-670e-4af4-a235-7a634c40e61a</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f23a1bfb-011c-4d5d-b54c-fa1ced77831a</Key>
      <Caption>Hide Breadcrumbs</Caption>
      <Alias>content/hideBreadcrumbs</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>